@media (max-width: 1280px) {
    /* Section two */
    #section-two .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }
    /* Section three */
    #section-three .grid{
        margin: 0 0;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: min-content min-content;
        gap: 40px 20px;
    }
}
@media (max-width: 1024px) {
    #section-main,
    #section-two{
        padding: 50px 24px;
    }

    /* Section principal */
    #section-main .flex{
        flex-direction: column;
    }

    #section-two .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }

    /* Section three */
    #section-three .grid{
        margin: 0 0;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: min-content min-content;
        gap: 40px 20px;
    }
    #section-three .flex-filter-section{
        gap: 30px;
    }
}
/* Pour les écrans de moins de 640px, nos styles ci-dessous seronts appliqués*/
@media (max-width: 640px) {
    #section-three{
        padding: 100px 24px;
    }
    /* Partie header du site*/
    .banniere{
        background-position: center;
    }
    #header-main .flex div:nth-child(3){
        display: none;
    }

    /* Section two */
    #section-two .grid{
        grid-template-columns: 100%;
        gap: 20px;
    }
    #section-two .grid section:nth-child(1){
        grid-column: auto;
        grid-row: auto;
    }
    /* Section three */
    #section-three .flex-filter-section{
        flex-wrap: wrap;
    }
    #section-three .grid{
        margin: 0 0;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content;
        gap: 40px 20px;
    }
    #section-three .grid section img{
        border-radius: 4px;
        height: auto;
    }
}